
@import './variables'
@import './variables'

body, html
  font-family: 'Open Sans', sans-serif
  text-rendering: optimizeLegibility !important
  -webkit-font-smoothing: antialiased !important
  color: $textColor
  background-color: #FFFFFF

h1 
  line-height: 20px
  margin: 30px 0px
  color: grey


.container
  max-width: 900px
  margin: auto;

.weather
  @include flexContainer("flex-start")  

.weather-details
  border: solid 1px $grey
  border-radius: 5px
  padding: 10px
  margin: 10px
  background: $grey
  min-width: 250px
  @include mqForecast

.date
  color: white
  font-size: 80%
  font-weight: bold

.temp
  color: $textColor
  font-size: 28px
  float: left
  padding-top: 11px

.icon
  float: right
      