 <div class="container">
  <header> 
    <h1>Casablanca</h1>
  </header>

  <main>  
    <section class="weather">
      <div class="weather-details" *ngFor="let forecast of forecasts">
        <div class="date">{{ forecast.dt_txt }}</div>
        <div class="temp">{{forecast.main.temp | temperature }}&#8451;</div>
        <div class="icon"><img src="http://openweathermap.org/img/w/{{forecast.weather[0].icon}}.png"></div>
      </div>
    </section>
  </main>   
  </div> 
